body {
	font-size: 12px;
}

p.tagline {
	text-align: center;
	font-family: "Merriweather";
	font-weight: 700;
	font-style: italic;
	font-size: 2.5em;
	color: black;
	padding: 30px;
	background-color: #f3f3f3;
}

header#page-header {
	background-color: black;
	color: lime;
}

header div {
	border-bottom: 4px solid #f3f3f3;
}

h1, h2, h3 {
	font-family: "Merriweather";
}

header h1 {
	display: inline-block;
	margin-left: 20px;
}

header h1 a {
	color: lime;
	text-decoration: none;
	font-size: 2em;
	line-height: 70px;
}

nav {
	float: right;
	margin-right: 20px;
}

nav a {
	font-family: "Oswald";
	text-decoration: none;
	color: white;
	line-height: 70px;
	margin: 0 5px;
}

section.banner {
	background-image: url(../images/coworking.jpg);
	background-size: 100%;
	background-position: center;
	overflow: hidden;
}
div.blurb {
	float: right;
	width: 30%;
	background-color: rgba(255, 255, 255, .8);
	margin: 20px;
	padding: 30px;
	border-radius: 10px;
	border: lime solid 5px;
}

div.blurb h2 {
	font-size: 24px;
}

div.blurb p {
	font-size: 16px;
	line-height: 1.2em;
}

section.callouts {
	clear: both;
}

section.callout {
	float: left;
	box-sizing: border-box;
	width: 33.3333%;
	padding: 20px;
}

section h3 {
	font-size: 2em;
}

section p {
	font-size: 1.5em;
	
}




