body {
	margin: 0 auto;
	padding: 0;
}

.moveit {
	float: left;
	background-color: red;
}

#pinky {
	margin-top: 45%;
	position: fixed; 
	left: 10px;
}

#whitey {
	margin-top: 40%;
	float:left;
	position: relative; 
	left: 90px;
}

#sunny {
	margin-top: 10%;
	float:left;
	margin-left:60%;
	position: relative; 
	left: 0px;
}

#cart {
	top: 492px;
	margin-left: 354px;
}

.display {
	display: none;
}

.fixed {
	float: left;
	position: 0 0;
	margin: 0 auto;
	padding: 0;
	width:100%;
}

#button {
	width:100%;
	font-size: 2em;
	background-color: #2c3e50;
	color: #3498db;
	text-align: center;
	text-transform: uppercase;
	padding: 10px auto;
}






