body {
  background-color: #efefef;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

#container {
	width: 80%;
	margin: 1% auto;
}

header {
	text-align: center;
	margin: 1% 0;
}

nav a {
	width: 33.333%;
	padding: 1em;
	display: block;
	float: left;
	background-color: white;
	text-align: center;
	border: 1px solid #cccccc;
	color: black;
	text-decoration: none;
	font-size: 1.25em;
}

nav a:hover {
	background: #cccccc;
}

h1, h2, h3 {
	font-weight: bold;
	margin: .5em 0;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

#hero {
	text-align: center;
	margin: 3% 0;
}

#hero img {
	width: 100%;
}

#articles {
	width: 55%;
	float: left;
}

#articles img {
	width: 100%;
}

#articles > img {
	width: 98%;
}

.main-article {
	width: 48%;
	float: left;
	margin-right: 2%;
}

.main-article:nth-of-type(2n+1) {
	clear: both;
}

#side-column {
	float: right;
	width: 40%;
}

#side-column img {
	width: 100%;
}

p {
	margin-bottom: 1em;
	line-height: 1.2;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#menu-toggle {
	display: none;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 40px;
	cursor: pointer;
}

@media only screen and (min-width: 1500px) {
	#container {
		width: 1200px;
	}
}

@media only screen and (max-width: 1024px){
	#container {
		width: 90%;
	}
	nav a {
		padding: 10px;
	}
	header img {
		width: 120px;
	}
	.main-article img {
		display: none;
	}
	.main-article {
		float: none;
		width: auto;
		margin: auto;
		border-bottom: 2px solid #ccc;
	}
}

@media only screen and (max-width: 685px){
	#articles, #side-column {
		width: auto;
		float: none;
	}
	h1 {
		text-align: left;
		font-size: 20px;
	}
	h2, h3 {
		font-size: 18px;
	}
}

@media only screen and (max-width: 500px){
	#container {
		width: auto;
	}
	h1, h2, h3, p {
		padding: 0 2%;
	}
	header {
		text-align: left;
	}
	header img {
		width: 80px;
	}
	nav a {
		float: none;
		width: auto;
	}
	nav {
		width: 100%;
		position: absolute;
		top: 45px;
		left: 0;
		display: none;
	}
	#menu-toggle {
		display: block;
	}
}












