body {
	background-color: #f3ebe9;
	text-align: center;
	color: #656565;
}

h1, h2 {
	text-transform: uppercase; 
	background-color: white;
}

h1 {
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #999999;
}

h2 {
	font-size: 26px;
	padding-top: 13px;
	padding-bottom: 13px;
}

p {
	font-size: 14px;
	font-family: Georgia, serif;
	padding: 5px;
}

img {
/*	border-width: 5px;
	border-color: #cccccc;
	border-style: solid;*/

	border: 5px #cccccc solid;
}

a {
	text-decoration: none;
}



