#cold {
	background-color: blue;
}

#hot {
	background-color: red;
}

#all {
	background-color: black;
	height: 200px;
 	padding: 30px;
}

div {
	text-align: center
}

h1 {
	color: white;
}

#cold {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#lower h2 {
  float: left;
  display: block;
  width: 100px;
  height: 40px;
  margin: 0 5px 5px 0;
  border-radius: 10px;
  border: 1px solid black;
}

#raise h2 {
	float: left;
  	display: block;
  	width: 100px;
  	height: 40px;
 	margin: 0 5px 5px 0;
 	border-radius: 10px;
 	border: 1px solid black;
}

#grayButton {
  background-color: gray;
}
#whiteButton {
  background-color: white;
}
#blueButton {
  background-color: blue;
}
#yellowButton {
  background-color: yellow;
}