

#all {
  margin: 0 auto;
  width: 960px;
  background-color: orange;

}

header {
  background-color: #000;
}

nav {
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  height: 49px;
  color: #ccc;
  padding: 36px 18px 0 18px;
  font-size: 17px; 
}

nav a:hover {
  text-decoration: none;
  background-color: #079fde;
  color: #ffffff;
}
.button {
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding: 0;
  overflow: hidden;
  float: left;
  width: 120px;
  height: 40px;
  margin: 0 5px 5px 0;
  border-radius: 10px;
  border: 1px solid black;
}

#raise h2 {
	float: left;
  	display: block;
  	width: 100px;
  	height: 40px;
 	margin: 0 5px 5px 0;
 	border-radius: 10px;
 	border: 1px solid black;
}

#gray {
  background-color: gray;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}

