body {
  background-color: red;
}

button {
  background-color: black;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;
}

#wrapper {
  display: inline;
  text-align: center;
}

.tempdiv {
  width: 50%;
}

.tempdiv h1 {
  font-family: Helvetica, sans-serif;
  font-size: 272px;
  margin: 0 auto;
}

#answerhere {
  font-size: 72px;
  margin: 0 auto;
  font-style: italic;
  color: white;
}

#C {
  background-color: #e500cb;
  color: #ffffff;
  float: left;
}

#F {
  background-color: #333333;
  color: #ffffff;
  float: right;
}

#inputC {
  color: black;
}

#inputF {
  color: black;
}

.ansClass {
  float: left;
}

#jack {
  margin: auto;
}



