body {
	background: #050719;
	font-size: 12px;
	font-family: "Oswald", Helvetica, sans-serif;
	color: white;
	margin: 0 auto;
}

h1 {
	font-size: 4em;
	font-weight: 700;
}

h2 {
	font-size: 3em;
	font-weight: 400;
	padding: 1px 10px;
	margin-bottom: 0;
	clear: both;
}

h3 {
	font-size: 2.5em;
	font-weight: 400;
	padding: 1px 10px;
	background-color: #444;
	margin-bottom: 0;
}

input {
	color: black;
}

p {
	font-size: 1.5em;
}

header {
	background-color: #258e4f;
	background-image: url("../images/love_background-normal.jpg");
	background-position: 0 -100px;
	position: fixed;
	width: 100%;
	background-color: #000;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#topnav {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	height: 89px;
	overflow: visible;
}

.resize img {
	float: left;
   	max-width:30%;
  	max-height:30%;
  	padding: 10px;
}

nav span {
	float: left;
	width: 325px;
}

nav a {
	float: left;
	text-decoration: none;
	width:210px;
	padding: 28px 10px;
	text-align: center;
	font-weight: 400;
	color: white;
	font-size: 2em;
}

nav a:hover {
	background-image: url(../images/exploding-hears.gif);
	background-position: -200px 0px;
	background-repeat: none;
}

#lefty {
	float: left;
	width: 35%;
	margin-top: 150px;
	padding-left: 30px;
	max-height: 655px;
	overflow: scroll;
}

#righty {
	float: right;
	width: 60%;
}

#clickme {
	background-color: red;
	color: white;
}

.cleary {
	clear: both;
	float: left;
}

#emailsent {
	color: white;
}