/* General Styles */
body {
	background-color: #9F8AB8;
}

h1, h2, h3, h4 {
	font-family: Georgia, serif;
	font-weight: bold;
	color: #9F8AB8;
	line-height: 1;
}

h1 {
	font-size: 40px;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	color: #333333;
}

/* Layout Styles */

#container {
	margin: 40px auto;
	width: 800px;
}

#header {
	background-color: #666666;
	padding: 40px;
}

#main {

}

#main img {

}

.article {
	padding: 20px;
	margin-bottom: 20px;
}

#sidebar { 
	padding: 20px;
}

#wrapper {
	background-color: #ffffff;
}

#footer { 
	background-color: #666666;
	padding: 30px;
}