body {
	width: 825px;
	font-family: 'Lato', sans-serif;
    margin: 0;
    border-left: 60px solid #aaa;
    padding: 70px 0 0 40px;
}
div {
	float:inherit;
}

img {
	width: 720px;
}

h1, h2, h3, h4, p {
	font-weight: 300;
}

p  {
	line-height: 1.5em;
}

h1 {
	color: red;
	font-size: 55px;
	margin: 0;
}

h2 {
	font-size: 1.65em;
}

#graybar p {
	width: 6px;
	min-height: 1850px;
	color: #bbbbbb;
	background-color: #bbbbbb;
	margin: -70px 60px 0 20px;
	float: left;
}

#nav a {
	margin-right: 20px;
	font-size: 1.3em;
	color: #cccccc;
}



#container h2 {
	margin-top: 20px;
}

#jack{
	border-bottom: 1px solid #ccc;
}

#jack h2 {
	margin-top: 70px;
	margin-bottom: 0px;
	font-size: 35px;
	color: #cccccc;
}

#jack h3 {
	font-size: 40px;
	margin: 0px 0px 15px 0px;
}

#jack a {
	color: red;
	font-weight: 700;
	text-decoration: none;
	line-height: 2.7em;
    text-align: right;
    display: block;
}

#footer a {
	color: red;
	text-decoration: none;
}