body {
	width: 720px;
	font-family: 'Lato', sans-serif;
	padding-left: 54px;
}

img {
	width: 720px;
}

h1, h2, h3, h4, p {
	font-weight: 300;
}

h1 {
	color: red;
}

#footer {
	color: red;
	text-decoration: none;

}