body {
	width: 800px;
	font-family: 'Lato', sans-serif;
}
div {
	float:inherit;
}

img {
	width: 720px;
}

h1, h2, h3, h4, p {
	font-weight: 300;
}

p  {
	line-height: 1.5em;
}

h1 {
	color: red;
	font-size: 50px;
	margin: 0;
}

h2 {
	font-size: 1.55em;
}

#graybar p {
	width: 5px;
	min-height: 1850px;
	color: #bbbbbb;
	background-color: #bbbbbb;
	margin: 0 70px 0 0;
	float: left;
}

#nav a {
	margin-right: 20px;
	font-size: 1.3em;
	color: #cccccc;
}

#container h1 {
	margin-top: 70px;
}

#container h2 {
	margin-top: 20px;
}

#jack h2 {
	margin-top: 70px;
	margin-bottom: 0px;
	font-size: 35px;
	color: #cccccc;
}

#jack h3 {
	font-size: 40px;
	margin: 0px 0px 15px 0px;
}

#footer a {
	color: red;
	text-decoration: none;
}