body {
	background: #050719;
	font-size: 12px;
}

header {
	background-color: #258e4f;

}

#topnav {
	margin: 0 auto;
	width: 960px;
	position: fixed;
	background-color: #258e4f;
}

nav a {
	float: left;
	text-decoration: none;
	width: 255px;
	font-size: 2em;
	color: white;
}