/*style.css*/
body {
	background-color: black;
	background-image: url(../images/bg_dark_8.png);
}

#topnav {
	width:100%;
	float:left;
	margin: 0px;
	padding: 40px;
}

.center {
	margin: 0 auto;
	text-align: center;
}