/*style.css*/
body {
	background-color: black;
	background-image: url(../images/bg_dark_8.png);
	font-family: Helvetica;
}

#wrapper {
	
}

.boxsize {
	width: 60px;
	height: 60px;
}

.11 {
	background-color: blue;
}

.62 {
	background-color: yellow;
}

.row3 {
	background-color: green;
}

.row4 {
	background-color: orange;
}

.row5 {
	background-color: red;
}

.row6 {
	background-color: chocolate;
}




#topnav {
	width:100%;
	float:left;
	margin: 0px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

#logo{
	width:50%;
	margin: 20px auto;
	position: fixed;
	top:0;
	left:25%;
}

.clear {
	clear: both;
	overflow: hidden;
}

.float {
	float:center;
	display: block;
}


a {
	color: white;
	padding: 20px 40px;
	text-transform: uppercase;
	background-color: #123456;
	border-radius: 10px;
	margin: 0 15px;
}

/*.blowupbox {
	clear: both;
	width:70%;
	min-height: 100px;
	margin-top: 200px;
	 background: url("") center no-repeat;
	 background-image: url("");
	 background-size: cover;
	 height: 100%;
}*/






