body {
	background-color: black;
	background-image: url(../images/bg_dark_8.png);
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #ccc;
}

a:hover {
	text-decoration: none;
	color: yellow;
	font-weight: 800;
	color: white;
}

a:active {
	text-decoration: none;
	color: #ccc;
}

a:visited {
	text-decoration: none;
	color: #ccc;
}

button {
	width: 150px;
	height: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: .35em;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #e74c3c;
	border: 4px solid #c0392b;
	border-radius: 0 40px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 12em;
	color: #ccc;
	margin-bottom: 0;
	text-shadow: 3px 3px 8px #000000;
}

h2 {
	display: block;
	font-size: 4em;
	font-weight: 200;
	color: #ccc;
	text-shadow: 3px 3px 8px #000000;
}

h3 {
	display: block;
	font-size: 2em;
	font-weight: 200;
	color: #ccc;
	margin-bottom: 50px;
	text-shadow: 3px 3px 8px #000000;
}

h4 {
	margin-top: 1em;
	width:40%;
	height: 2em;
	line-height: 2em;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: white;
	text-decoration: none;
	background-color: rgba(255,255,255,.3);
	border: 4px solid #c0392b;
	border-radius: 15px;
	text-shadow: 3px 3px 8px #000000;
}

.a {
	transform: translate(-1100%,-1100%);
	transition:1s;
}

.b {
	transform: translate(1100%,1100%);
	transition:1.25s;
}

.c {
	transform: translate(-1100%,1100%);
	transition:1.75s; 
}

.d {
	transform: translate(1100%,-1100%);
	transition:2.25s;
}

.e {
	transform: translate(1100%,50%);
	transition:2.75s;
}

.animationdiv {
	float: left;
	background-color: black;
	overflow: hidden;
}

.boxsize {
	float:left;
	width: 75px;
	height: 75px;
	background-color: #f2f2f2;
	padding: 0;
}

.clear {
	clear: both;
	overflow: hidden;
}

.color {
	background-color: black;
}

.dynomite-wrapper {
	border: 2px solid #fff;
	width: 25%;
	display: inline-block;
	color: #ccc;
	margin-top: 80px;
	padding-bottom: 15px;
}

.dynomite-wrapper input {
	border: none;
	background-color: transparent;
	font-size: 2.5em;
	line-height: 1.5em;
	font-family: Courier;
	color: #ccc;
	width:100%;
}

.fa {
	display: inline;
}

.hidden {
	display: none;
}

.image30 {
	width: 28%;
	padding: 1%;
	height: 250px;
}

.image30 img {
	width:110%;
	border-radius: 30px;
	outline-color: black;
	outline-style: solid;
    outline-width: 15px;
    transition: opacity 1s;
    background-color: black;
    opacity: .5;
}

.image30 img:hover {
	opacity: .99;
}

.image30 img:active {
	opacity: .1;
	transition: opacity 0s;
}

.image50 {
	width: 48%;
	padding: 1%;
	height: 500px;
}

.image50 img {
	width:110%;
	border-radius: 30px;
	outline-color: black;
	outline-style: solid;
    outline-width: 15px;
    transition: opacity 1s;
    background-color: black;
    opacity: .5;
}

.image50 img:hover {
	opacity: .99;
}

.image50 img:active {
	opacity: .1;
	transition: opacity 0s;
}

.image70 {
	width: 68%;
	padding: 1%;
	height: 529px;
}

.image70 img {
	width:110%;
	border-radius: 30px;
	outline-color: black;
	outline-style: solid;
    outline-width: 15px;
    transition: opacity 1s;
    background-color: black;
    opacity: .5;
}

.image70 img:hover {
	opacity: .99;
}

.image70 img:active {
	opacity: .1;
	transition: opacity 0s;
}

.input-wrapper {
	border-bottom: 2px solid #fff;
	width: 50%;
	display: inline-block;
	color: #ccc;
	margin-top: 80px;
}

.input-wrapper input {
	border: none;
	background-color: transparent;
	font-size: .5em;
	line-height: 1em;
	font-family: Courier;
	color: #ccc;
	width:90%;
}

.lettersize {
	height: 150px
}

.lettersize img{
	height: 100%
}

/*  animation css  */

	.a {
		transform: translate(-1100%,-1100%);
		transition:1s;
	}


	.b {
		transform: translate(1100%,1100%) rotate(800deg) scale(10);
		transition:1.25s;
	}

	.c {
		transform: translate(-1100%,1100%) rotate(1100deg) scale(10);
		transition:1.75s; 
	}

	.d {
		transform: translate(1100%,-1100%) rotate(900deg) scale(-10);
		transition:2.25s;
	}

	.e {
		transform: translate(1100%,50%) rotate(1000deg) scale(2);
		transition:1.15s;
	}

	.top-left {
        transform: translate(-2000px, -2000px) rotate(1000deg) scale(10);
    }
    .top-right {
        transform: translate(-2000px, 2000px) rotate(-1000deg) scale(10);
    }
    .bottom-left {
        transform: translate(2000px, -2000px) rotate(1000deg) scale(-8);
    }
    .bottom-right {
        transform: translate(2000px, 2000px) rotate(-1000deg) scale(-8);
    }
    .midddle-left {
        transform: translate(-2000px, 40vh) rotate(1000deg) scale(15);
    }
    .middle-right {
         transform: translate(2000px, 40vh) rotate(-1000deg) scale(15);
     }

/*  end animation css  */



#blowupbox {
	background: url("") center no-repeat;
	background-image: url("");
	background-size: cover; 
	resize:both;
    overflow:auto;
}

#detonator {
	margin: 0 auto;
	width: 40%;
	width: 260px;
	height: 260px;
	display: block;
	background: transparent url("../images/detonACT.svg") center top no-repeat;
}

#detonator:hover {
   background-image: url("../images/detonHOV.svg");
}

#detonator:active {
   background-image: url("../images/detonACT.svg");
}

#logo{
	margin: 20px auto;
	width: 65%;
}

#mainbox {
	overflow: hidden;
	width: 600px;
	margin: 0 auto;
}

#nextbutton {
	background-color: #145c8c;
}

#starwars {
	width: auto;
	width:50%;
	border-radius: 20px;
	margin-top: 50px;
}

#size600 {
	width: 600px;
}





@media only screen and (max-width: 1160px){
	.image70 {
		float: left;
		width: 48%;
		padding: 1%;
		height: auto;
		background-color: rgba(0,0,0,1);
	}

	.image30 {
		float: left;
		width: 48%;
		padding: 1%;
		height: auto;
		background-color: rgba(0,0,0,1);
	}

	.image50 {
		float: left;
		width: 48%;
		padding: 1%;
		height: auto;
		background-color: rgba(0,0,0,1);
	}

}

@media only screen and (max-width: 970px){
	body {
		font-size: 10px;
	}


@media only screen and (min-width: 769px){
	body {
		font-size: 6px;
	}

	.input-wrapper {
		width: 40%;
		margin-top: 60px;
	}

	.fa {
		display: hidden;
	}
}


@media only screen and (max-width: 600px){
	body {
		font-size: 5px;
	}

	.image70 {
		float: left;
		width: 98%;
		padding: 1%;
		height: auto;
		background-color: rgba(0,0,0,1);
	}

	.image30 {
		float: left;
		width: 98%;
		padding: 1%;
		height: auto;
		background-color: rgba(0,0,0,1);
	}

	.image50 {
		float: left;
		width: 98%;
		padding: 1%;
		height: auto;
		background-color: rgba(0,0,0,1);
	}


}

/*@media only screen and (max-width: 768px){
*/

