/*style.css*/
body {
	background-color: black;
	background-image: url(../images/bg_dark_8.png);
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

header {
	width: 50%;
	margin: 0 auto;
	height:auto;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 12em;
	color: #ccc;
	margin-bottom: 0;
}

h2 {
	display: block;
	font-size: 5em;
	font-weight: 200;
	color: #ccc;
	margin-bottom: 50px;
}

h3 {
	display: block;
	font-size: 2em;
	font-weight: 200;
	color: #ccc;
	margin-bottom: 50px;
}

#size {
	height:100px;
}

#homebox {
	overflow: hidden;
}

#homebox .boxsizes {
	margin: 0 auto;
}

#homebox .boxsize {
	float:left;
	width: 60px;
	height: 60px;
	background-color: #f2f2f2;
	/*margin: 0;*/
	padding: 0;
}

#b11 {
	background-color: blue;
}

#b62 {
	background-color: yellow;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.hidden {
	display: none;
}

#logo{
	/*width:100%;*/
	margin: 20px 0;
/*	position: fixed;
	top:0;
	left:25%;*/
}

#logo2{
	/*width:100%;*/
	margin: 0;
/*	position: fixed;
	top:0;
	left:25%;*/
}

.clear {
	clear: both;
	overflow: hidden;
}

.float {
	float:center;
	display: block;
}

.floate {
	float:left;
	display: block;
	width:10%;
	margin: 0;
	position:relative;
}

a {
	text-decoration: none;
}

img {
	width: auto;
/*	width:50%;
	border-radius: 20px;
	margin-top: 50px;*/
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

#blowupbox {
	/*height: 100%;*/
	/*min-height: 100px;*/
	/*margin-top: 200px;*/
	 background: url("") center no-repeat;
	 background-image: url("");
	 background-size: cover; 
}

#starwars {
	width: auto;
	width:50%;
	border-radius: 20px;
	margin-top: 50px;
}


#warning {
	width:46px;
	background-color: yellow;
}

#warsvg {
	width:100%;
}

.box-footer {
	box-sizing: border-box;
}

.p70 {
	float: left;
	width: 70%;
	height: 500px;
	background-color: black;
/*	margin: 20px;
*/}

.p70 img {
	width:110%;
}

.p30 {
	float: left;
	width: 30%;
	height: 250px;
	background-color: black;
}

.p30 img {
	width:110%;
}

.p50 {
	float: left;
	width: 50%;
	height: 500px;
	background-color: black;
/*	margin: 20px;
*/}

.p50 img {
	width:110%;
}

.input-wrapper input {
	border: none;
	background-color: transparent;
	font-size: 40px;
	line-height: 40px;
}

.input-wrapper {
	border-bottom: 5px solid #fff;
	width: 200px;
	display: inline-block;
}

#size480 {
	width: 480px;
}


