/*style.css*/
body {
	background-color: black;
	background-image: url(../images/bg_dark_8.png);
	font-family: Helvetica;
}

#topnav {
	width:100%;
	float:left;
	margin: 0px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

#logo{
	width:50%;
	margin: 20px auto;
	position: fixed;
	top:0;
	left:25%;
}

.clear {
	clear: both;
	overflow: hidden;
}

.float {
	float:center;
	display: block;
}


a {
	color: white;
	padding: 20px 40px;
	text-transform: uppercase;
	background-color: #123456;
	border-radius: 10px;
	margin: 0 15px;
}

.blowupbox {
	clear: both;
	width:70%;
	min-height: 100px;
	background-color: #444;
	margin-top: 200px;
}






